.section {
    background-color: #FFFFFF;
    padding: 20px 0;
}

.remoteWorkBlock {
    margin: 0 auto;
}

.remoteWorkBlock p {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.remoteWorkBlock button {
    background-color: #333333;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: block;
    margin: 20px auto 0 auto;
}

.fon {
    position: fixed;
    background-color: black;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 4;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid white;
    z-index: 5;
}

.dNone {
    display: none;
}

.modal .close {
    font-size: 28px;
    position: absolute;
    right: -1px;
    top: -3px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.modal .close:hover {
    color: black;
    background-color: white;
}
.modal .mail {
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid red;

}

@media (max-width: 750px) {
    .modal .mail {
        font-size: 22px;
    }
}
@media (max-width: 530px) {
    .modal {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 322px) {
    .modal {
        width: 220px;
        height: 220px;
    }
    .modal .mail {
        font-size: 16px;
    }
}