.section {
    background-color: #F0F0F0;
    padding: 20px 0;
}

.contact {

}


.contact form {
    width: 50%;
    margin: 0 auto;
}

.contact form input,.contact form textarea {
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    border: 2px solid #aaa;
    border-radius: 6px;
    transition: .3s;

}

.contact button {
    background-color: #333333;
    color: white;
    display: block;
    font-weight: bold;
    margin: 0 auto;
    font-size: 24px;
    border-radius: 8px;
}

form div {
    width: 100%;
    margin: 0 auto;
}
